body {
    font-family: latha;
    color: #000000;
    background: center/cover no-repeat url('breakfast.jpeg');
    background-attachment: fixed;
}

.bar {
    text-align: center;
    border: 1px solid none;
    color: #ffffff;
}

.bar ul li {
    text-align: center;
    width: 50px;
    text-decoration: none;
    color: #ffffff;
}

.bar ul li:hover {
    background-color: #ffffff;
}

.flex {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px;
}

.flex ul li {
    width: 120px;
    float: right;
    margin: 10px auto;
    text-align: center;
}

.flex ul li a {
    text-decoration: none;
    color: white;
}

.flex ul li:hover {
    background-color: #6495ed;
}

.flex ul li a:hover {
    color: #ffffff;
}

.flex-item {
    background-color: #000000;
    opacity: 0.9;
    padding: 30px;
}

.flex-item h1 {
    color: cornflowerblue;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100px;
}


.column {
    justify-content: center;
    padding: 20px 20px;
    background: #6b8e23;
    opacity: 0.9;
}

.flex-item h4 {
    color: #a9a9a9;
    font-weight: normal;
    text-align: center;
}

.button {
    width: 20%;
    margin-left: 40%;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    transition-duration: .5s;
}

.button:hover {
    background-color: #6495ed;
    color: #ffffff;
}

footer { 
    background: #868282;
    opacity: 0.8;

}

.topnav {
    opacity: 0.9;
    background-color: #868282;
    overflow: hidden;
  }
  
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
      opacity: 0.9;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }
  
  .topnav a.active {
    color: #ffffff;
  }